<div class="header">
    <h3>Stockticker, Turn Number: {{turn_num}}</h3>
    <h4 style="padding: 3px;">
        {{players[this.child_player_index].name}} - {{players[this.child_player_index].net_worth | currency}}
    </h4>
</div>

<!-- <input nz-input placeholder="Basic usage" (change)="onInput($event)" /> -->

<div class="stock-data-container">
    <div class="log" id="stock">
        <h4>Events</h4>
        <p *ngFor="let log of logs" [ngClass]="log?.action" [ngStyle]='{"margin-left": "auto"}'>
            <span *ngIf="log?.type == 0">
                Turn: {{log?.turn_num}} : <span [ngStyle]="setBoxStyle(log?.name)"></span> {{log?.name}}
                <img *ngIf="log?.action == 'up'" src="../../assets/up-arrow-more.png" alt="">
                <img *ngIf="log?.action == 'down'" src="../../assets/down-arrow-more.png" alt="">
                <img *ngIf="log?.action == 'div'" src="../../assets/no-change.png" alt="">
                {{log?.amount | currency }} to {{log?.value | currency }}
            </span>
            <span *ngIf="log?.type == 1">
                {{log?.name}} {{log?.action}}!
            </span>
        </p>
    </div>
    <div class="graph-container">
        <app-val-graph clas="stock-graph" [scale]="scale"></app-val-graph>
        <br>
        <br>
        <span *ngFor="let stock of stocks" class="stock">
            <div>
                <span [ngStyle]="setBoxStyle(stock?.name)"></span>
                <span>&nbsp;{{ stock.name }}(
                    <img *ngIf="stock?.change == 'up'" src="../../assets/up-arrow-more.png" alt="">
                    <img *ngIf="stock?.change == 'down'" src="../../assets/down-arrow-more.png" alt="">
                    <img *ngIf="stock?.change == 'nil'" src="../../assets/no-change.png" alt="">
                    {{stock.delta | currency}})
                    {{stock.values[stock.values.length-1] | currency}}&nbsp;
                </span>
            </div>
        </span>
    </div>
</div>

<app-player 
    [domain]="col_domain"
    [stocks]="stocks"
    [players]="players"
    [scale]="scale"
    (processOrderEvent)="processOrder($event)"
    (playerChangeEvent)="playerChange($event)"
></app-player>

<br>
<br>

<button nz-button style="margin: 3px;" nzType="primary" matTooltip="Hotkey: Delete" (click)="onTurn(-1)">Reset</button>
<button nz-button style="margin: 3px;" nzType="primary" matTooltip="Hotkey: Spacebar" (click)="onTurn(1)">1 Turns</button>
<button nz-button style="margin: 3px;" nzType="primary" matTooltip="Hotkey: Right Arrow" (click)="onTurn(10)">10 Turns</button>

<button nz-button nzType="primary" *ngIf="paused==true" matTooltip="Hotkey: Insert" style="margin: 3px;" (click)="playpause()">Play</button>
<button nz-button nzType="primary" *ngIf="paused!=true" matTooltip="Hotkey: Insert" style="margin: 3px;" (click)="playpause()">Pause</button>