
<h3>Stockticker, Turn Number: {{turn_num}}</h3>

<!-- <input nz-input placeholder="Basic usage" (change)="onInput($event)" /> -->

<div class="stock-data-container">
    <div  class="graph-container">
        <span *ngFor="let stock of stocks">
            <span [ngStyle]="setBoxStyle(stock?.color)"></span>
            <span>&nbsp;{{ stock.name }}(
                <img *ngIf="stock?.change == 'up'" src="../../assets/up-arrow-more.png" alt="">
                <img *ngIf="stock?.change == 'down'" src="../../assets/down-arrow-more.png" alt="">
                <img *ngIf="stock?.change == 'nil'" src="../../assets/no-change.png" alt="">
                {{stock.delta}})
                {{stock.values[stock.values.length-1]}}&nbsp;
            </span>
        </span>
        <app-val-graph [scale]="scale"></app-val-graph>
    </div>

    <div class="log" id="stock">
        <h4>Events</h4>
        <p *ngFor="let log of logs" [ngClass]="log?.action" [ngStyle]='{"margin-left": "auto"}'>
            <span *ngIf="log?.type == 0">
                Turn: {{log?.turn_num}} : {{log?.name}}
                <img *ngIf="log?.action == 'up'" src="../../assets/up-arrow-more.png" alt="">
                <img *ngIf="log?.action == 'down'" src="../../assets/down-arrow-more.png" alt="">
                <img *ngIf="log?.action == 'div'" src="../../assets/no-change.png" alt="">
                {{log?.amount}} to {{log?.value}}
            </span>
            <span *ngIf="log?.type == 1">
                {{log?.name}} {{log?.action}}!
            </span>
        </p>
    </div>
</div>

<button nz-button nzType="primary" (click)="onTurn(-1)">Reset</button>
<button nz-button nzType="primary" (click)="onTurn(1)">1 Turns</button>
<button nz-button nzType="primary" (click)="onTurn(10)">10 Turns</button>

<button *ngIf="paused==true" nz-button nzType="primary" (click)="playpause()">Play</button>
<button *ngIf="paused!=true" nz-button nzType="primary" (click)="playpause()">Pause</button>

<br>

<app-player [players]="players" [scale]="scale"></app-player>
