<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="over">
        <nav mat-tab-nav-bar backgroundColor="primary" class="top-nav">
            <img src="../favicon.ico">
        </nav>
        <nav mat-tab-nav-bar backgroundColor="primary">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </nav>
        <app-vertical-nav></app-vertical-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>