<div class="page-container">
    <mat-toolbar color="primary">
        <button mat-button (click)="onToggle()">
            <!-- <mat-icon>menu</mat-icon> -->
            <mat-icon>search</mat-icon>
        </button>
        <mat-form-field class="search-bar" color="accent">
            <!-- <mat-label>Search</mat-label> -->
            <input matInput [value]="query" (input)="onSearchChange($event.target.value)" #box>
            <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchChange('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <div matSort matSortDisableClear (matSortChange)="sortData($event)" [matSortActive]="column"
                [matSortDirection]="sort" class="input">
                    <th>Sort:&nbsp;&nbsp;</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="modify_time">Time</th>
                    <th mat-sort-header="size">Size</th>
                </div>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <button mat-button>Upload <mat-icon> attach_file</mat-icon></button >
            </button>
          </mat-menu>
    </mat-toolbar>

    <div *ngIf="files?.exception">
        <p class="exception">{{files?.exception}}</p>
    </div>
    <button mat-button (click)="onRefresh()">Refresh</button>
    <div class="files-container" *ngIf="files?.length > 0">
        <mat-accordion hideToggle="true">
            <div *ngFor="let file of files.data;">
                <mat-expansion-panel  togglePosition="before">
                    <mat-expansion-panel-header  [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
                        <mat-panel-title>
                            <div class="name" [ngStyle]="{'color':file?.modify_time<today ? '' : '#1b5e20', 'font-weight' : file?.modify_time<today ? '' : 'bolder' }">
                                {{file?.name}}
                            </div>
                            <div class="subname">
                                {{file?.parent}}
                            </div>
                            <div class="subname">
                                <b>{{file?.size_h}}</b> - {{file?.modify_time_h | date:"MMM d yy, hh:mm:ss a"}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <button mat-button (click)="onView(file)"
                            [disabled]="file?.ext!=='mp4'&&file?.ext!=='webm'&&file?.ext!=='mkv'&&file?.ext!=='mp4'&&file?.ext!=='avi'">View</button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="detail">
                        <b>Name:</b> {{file?.name}}
                        <br>
                        <b>Relative Path:</b> {{file?.parent}}
                    </div>
                    <button mat-button (click)="onNav(file)">View Folder</button>
                    <button mat-button (click)="onDownload(file)">Download</button>
                </mat-expansion-panel>
                <mat-divider color="accent"></mat-divider>
            </div>
        </mat-accordion>
    </div>

    <div class="footer">
        <mat-paginator [pageIndex]="pageIndex" [length]="files?.length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)" showFirstLastButtons="true">
        </mat-paginator>
    </div>
</div>