.page-container
{
    position: relative;
}

.footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 600px)
{
    .input
    {
        display: flex;
        justify-content: space-around;
    }
}

.search-bar
{
    width: 100%;
}

.exception
{
    color: red;
}

.name
{
    font-size: 1rem;
    color: white;
}
.subname
{
    font-size: 0.7rem;
}
.detail
{
    color: gray;
}

mat-panel-title
{
    display: inline;
}

.mat-expansion-panel, .mat-paginator
{
    background: rgb(35, 35, 35);
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description
{
    color: rgb(200, 200, 200);
}

@media screen and (max-width: 992px)
{
    .mat-expansion-panel-header-title
    {
        font-size: small;
        white-space: nowrap;
        overflow-x: hidden;
    }
}