.mat-expansion-panel, .mat-paginator
{
    background: rgb(35, 35, 35);
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    color: rgb(200, 200, 200);
}

@media screen and (max-width: 992px) {
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description 
    {
        /* max-width: 35%; */
        font-size: small;
        /* word-wrap: break-word; */
        overflow-wrap: break-word;
    }
}

.input
{
    display: flex;
    justify-content: space-between;
}

.exception
{
    color: red;
}