<!-- <input (input)="onSearchChange($event.target.value)"> -->
<div class="input">
    <mat-form-field class="example-full-width" color="accent">
        <mat-label>Enter</mat-label>
        <input matInput placeholder="Ex. Pizza" [value]="search" (input)="onSearchChange($event.target.value)">
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="menu">Sort: {{column}}, {{sort}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSort('name')">Name</button>
        <button mat-menu-item (click)="onSort('modify_time')">Date</button>
        <button mat-menu-item (click)="onSort('size')">Size</button>
    </mat-menu>
</div>

<div *ngIf="files?.exception">
    <p [ngClass]="{'color' : 'red'}">{{files?.exception}}</p>
</div>

<mat-paginator [pageIndex]="pageIndex" [length]="files?.length" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)">
</mat-paginator>

<div class="files-container" *ngIf="files?.length > 0">
    <h3>Files</h3>

    <div *ngFor="let file of files.data">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{file?.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{file?.parent}}
                        {{file?.size_h}}
                        {{file?.modify_time_h}}

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <h2>{{file?.name}}</h2>
                http://192.168.0.16:8000/shows/file?ui_path={{file?.path}}
                <br>
                <video width="500" controls>
                    <source [ngClass]="{'src': 'http://192.168.0.16:8000/shows/file?ui_path='+file?.path}">
                    <!-- <source src="http://192.168.0.16:8000/shows/file?ui_path="{{file?.path}}> -->
                </video>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- <td>
                    <button mat-button (click)="onView(file)">View</button>
                </td> -->
    </div>
    <br>
</div>