<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div> -->


<div class="page-container">
    <nav mat-tab-nav-bar backgroundColor="primary">
        <button mat-button>
            <mat-icon>menu</mat-icon>
        </button>
        <mat-form-field class="search-bar" color="accent">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. aven" [value]="query" (input)="onSearchChange($event.target.value)" #box>
        </mat-form-field>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <div matSort matSortDisableClear (matSortChange)="sortData($event)" [matSortActive]="column"
                [matSortDirection]="sort" class="input">
                    <th>Sort:&nbsp;&nbsp;</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="modify_time">Time</th>
                    <th mat-sort-header="size">Size</th>
                </div>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <button mat-button>Upload <mat-icon> attach_file</mat-icon></button >
            </button>
          </mat-menu>
    </nav>
    <div class="path">
        <nav mat-tab-nav-bar>
            <button mat-button (click)="onNav(-1)">
                Home
            </button>
            <button mat-button  disabled="true">
                &nbsp;<mat-icon>chevron_right</mat-icon>&nbsp;
            </button>
            <div *ngFor="let path_var of shows?.path_vars; let i = index" [attr.data-index]="i">
                <button mat-button (click)="onNav(i)">
                    {{path_var}}
                </button>
                <button mat-button disabled="true">
                    &nbsp;<mat-icon>chevron_right</mat-icon>&nbsp;
                </button>
            </div>
        </nav>
    </div>
    <mat-divider></mat-divider>
    <div class="folders-container" *ngIf="shows?.folders.length > 0">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Folders - {{shows?.folders.length}}
                </mat-panel-title>
                <mat-panel-description>
                    <!-- <button mat-button>Upload <mat-icon> attach_file</mat-icon></button > -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="folders" *ngFor="let folder of shows?.folders" #folder>
                <div class="folder-link" (click)="onClickShows(folder?.name)">
                    <div class="name" [ngStyle]="{'color':folder?.modify_time<today ? '' : 'green' }">
                        <h6>
                            {{folder?.name}}
                        </h6>
                    </div>
                    <div class="subname">
                        <span>
                            {{folder?.modify_time_h | date:"medium"}}&nbsp;&nbsp;&nbsp;
                            {{folder?.folder_count}}&nbsp;<img src="assets/folder_dark.png" alt="">&nbsp;
                            {{folder?.file_count}}&nbsp;<img src="assets/document_dark.png" alt="">
                        </span>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-expansion-panel>
    </div>

    <div class="files-container" *ngIf="shows?.files.length > 0">
            <h6>Files</h6>
        <mat-accordion>
            <div *ngFor="let file of shows?.files">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="name" [ngStyle]="{'color':file?.modify_time<today ? '' : 'green' }">
                                {{file?.name}}
                            </div>
                            <div class="subname">
                                <b>{{file?.size_h}}</b> - {{file?.modify_time_h | date:"medium"}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <button mat-button (click)="onView(file?.name)" [disabled]="file?.ext!=='mp4'&&file?.ext!=='webm'&&file?.ext!=='mkv'&&file?.ext!=='mp4'&&file?.ext!=='avi'">View</button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="detail">
                        <b>Name:</b> {{file?.name}}
                        <br>
                        <b>Relative Path:</b> {{file?.path}}
                    </div>
                    <button mat-button (click)="onDownload(file?.name)">Download</button>
                </mat-expansion-panel>
            </div>
            <mat-divider></mat-divider>
        </mat-accordion>
    </div>
</div>

<!-- <div class="files-container" *ngIf="files?.length > 0">
    <h3>Folders</h3>
    <table>
        <thead>
            <tr class="table-header">
                <th (click)="onSort('name')">
                    Name
                </th>
                <th (click)="onSort('size')">
                    Location
                </th>
                <th (click)="onSort('size')">
                    Size
                </th>
                <th (click)="onSort('modify_time')">
                    Modified On
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files.data">
                <td>
                    <span><img src="assets/document.png" class="dirlist-icon"></span>&nbsp;{{file?.name}}
                </td>
                <td>
                    {{file?.parent}}
                </td>
                <td>
                    {{file?.size_h}}
                </td>
                <td>
                    {{file?.modify_time_h}}
                </td>
                <td>
                    <button mat-button (click)="onView(file)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <div *ngIf="show_vid">
    <button mat-button (click)="toggleVid()">Close video</button>
    <h2>{{file}}</h2>
    <div class="video">
        <video controls #videoPlayer>
            <source [src]="url">
            Browser not supported
        </video>
    </div>
</div> -->