.search-bar
{
    width: 100%;
}
.page-container
{
    border: 0;
    margin: 0;
}

@media screen and (max-width: 600px)
{
    .input
    {
        display: flex;
        justify-content: space-around;
    }
}

.mat-expansion-panel
{
    background: rgb(35, 35, 35);
}

mat-icon
{
    height: 1rem;
}

.path
{
    display: flex;
    overflow: scroll;
}
/* For larger screens, hide scrollbar. */
@media screen and (min-width: 600px)
{
    .path::-webkit-scrollbar
    {
      display: none;
    }
}
.loc
{
    display: flex;
    white-space: nowrap;
}
.loc:hover, th:hover, .folder-container tr:hover
{
    cursor: pointer;
}

video
{
    height: 720;
}

@media screen and (max-width: 992px)
{
    video {
        /* height: 480; */
        width: auto;
    }
}

/* @media screen and (max-width: 992px) {
    .loc {
        display: flex;
        flex-wrap: wrap;
    }
} */

.file-container
{
    background-color: rgb(40, 40, 40);
    max-height: 50%;
    overflow-y: auto;
}

.folder-container
{
    /* max-height:100%; */
    overflow-y: auto;
    /* height: auto; */
    background-color: rgb(30, 30, 30);
}

.files
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.folders
{
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
}

.folders:hover
{
    cursor: pointer;
}

table
{
    width: 100%;
}

/* th
{
    border: 1px solid gray;
} */

td
{
    white-space: nowrap;
}

.folder-container td:hover
{
    background-color: rgb(60, 60, 60);
}