<div class="page-container">
    <div class="path">
        <div class="loc" (click)="onNav(-1)">
            Home
            &nbsp;<mat-icon>chevron_right</mat-icon>&nbsp;
        </div>

        <div *ngFor="let path_var of shows?.path_vars; let i = index" [attr.data-index]="i"
            (click)="onNav(i)">
            <div class="loc">
                <!-- <img src="assets/next.png"> -->
                {{path_var}}&nbsp;<mat-icon>chevron_right</mat-icon>&nbsp;
            </div>
        </div>

    </div>
    <br>
    <button mat-button [matMenuTriggerFor]="menu">Sort: {{column}}, {{sort}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSort('name')">Name</button>
        <button mat-menu-item (click)="onSort('modify_time')">Date</button>
        <button mat-menu-item (click)="onSort('size')">Size</button>
    </mat-menu>
    <br>
    <div class="folder-container" *ngIf="shows?.folders.length > 0">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Folder</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
                <table>
                    <tr *ngFor="let folder of shows?.folders">
                        <td (click)="onClickShows(folder?.name)"><span><img
                                    src="assets/folder.png"></span>&nbsp;{{folder?.name}}
                        </td>
                        <td>
                            {{folder?.modify_time_h}}
                        </td>
                    </tr>
                </table>
        </mat-expansion-panel>
    </div>
    <br>
    <div class="files-container" *ngIf="shows?.files.length > 0">
            <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Files</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="files" *ngFor="let file of shows?.files">

                <div><img src="assets/document.png">&nbsp;{{file?.name}}</div>
                <div>
                    <button mat-button (click)="onDownload(file?.name)">Download</button>
                    <button mat-button (click)="onView(file?.name)">View</button>
                    {{file?.modify_time_h}} - {{file?.size_h}}
                </div>
            </div>
            <tbody>
                <!-- <tr *ngFor="let file of shows?.files">
                    <app-files [file]="file"></app-files>
                </tr> -->
            </tbody>
        </mat-expansion-panel>
    </div>
    
    <div class="shows-container">
    </div>
</div>

<div *ngIf="show_vid">
    <button mat-button (click)="toggleVid()">Close video</button>
    <h2>{{file}}</h2>
    <div class="video">
        <video controls #videoPlayer>
            <source [src]="url">
            Browser not supported
        </video>
    </div>
</div>
