<div class="page-container">
    <mat-toolbar color="primary">
        <button mat-button (click)="onToggle()">
            <!-- <mat-icon>menu</mat-icon> -->
            <mat-icon>folder</mat-icon>
        </button>
        <mat-form-field class="search-bar" color="accent">
            <!-- <mat-label *ngIf="shows?.path_vars.length > 0">{{shows.path_vars[shows.path_vars.length-1]}}</mat-label> -->
            <input matInput [value]="query" (input)="onSearchChange($event.target.value)" #box>
            <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchChange('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <div matSort matSortDisableClear (matSortChange)="sortData($event)" [matSortActive]="column"
                [matSortDirection]="sort" class="input">
                    <th>Sort:&nbsp;&nbsp;</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="modify_time">Time</th>
                    <th mat-sort-header="size">Size</th>
                </div>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <button mat-button>Upload <mat-icon> attach_file</mat-icon></button >
            </button>
          </mat-menu>
    </mat-toolbar>

    <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item mat-button (click)="onNav(-1)">
            Home
        </nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let path_var of shows?.path_vars; let i = index" [attr.data-index]="i" (click)="onNav(i)">
            {{path_var}}
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <mat-divider></mat-divider>

    <div *ngIf="!add">
        <button nz-button (click)="toggleAdd()">Add</button>
        <br>
    </div>
    <div *ngIf="add">
        <button nz-button nzType="primary" (click)="toggleAdd()">Close</button><br>
        <br>
        <form nz-form nzLayout="inline" [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label nzRequired>URL</nz-form-label>
                <nz-form-control nzErrorTip="Enter URL">
                    <input nz-input id="url" type="text" formControlName="url"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Name</nz-form-label>
                <nz-form-control>
                    <input id="name" type="text" nz-input formControlName="name"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="downloadVideo()">Download</button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="checkVideo()">Check</button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button (click)="resetForm()" [disabled]="disabled">Clear</button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button (click)="getDirectory()">Refresh Dir</button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <p [ngStyle]="{'color': 'red'}" *ngIf="dl_response">{{dl_response}}</p>

        <!-- <ngx-json-viewer *ngIf="vid_info" [json]="vid_info"></ngx-json-viewer> -->
        <div class="container">
            <div class="progress"
            >
            <!-- *ngIf="progress > 0" -->
              <div class="progress-bar" role="progressbar" [style.width.%]="progress">
                {{progress}}%
              </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="folders-container" *ngIf="shows?.folders.length > 0">
            <mat-expansion-panel expanded="true" togglePosition="before">
                <mat-expansion-panel-header color="primary">
                    <mat-panel-title *ngIf="shows?.folders.length === 1">
                        {{shows?.folders.length}} Folder
                    </mat-panel-title>
                    <mat-panel-title *ngIf="shows?.folders.length > 1">
                        {{shows?.folders.length}} Folders
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- <button mat-button>Upload <mat-icon> attach_file</mat-icon></button > -->
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-selection-list [multiple]="false">
                    <mat-list-option *ngFor="let folder of shows?.folders" (click)="onClickShows(folder?.name)">
                        <mat-icon [ngStyle]="{'color': 'gray' }" mat-list-icon>folder</mat-icon>
                        <div class="name" mat-line [ngStyle]="{'color':folder?.modify_time<today ? '' : 'rgb(121 224 128)', 'font-weight' : folder?.modify_time<today ? '' : 'bolder' }">{{folder?.name}}</div>
                        <div class="subname" mat-line>{{folder?.modify_time_h | date:"MMM d yy, hh:mm:ss a"}}&nbsp;&nbsp;&nbsp;
                            <b>
                                {{folder?.folder_count}}&nbsp;
                                <mat-icon [ngStyle]="{'color': 'gray' }" mat-list-icon>folder</mat-icon>
                                <!-- <img class="dirlist-icon" src="assets/folder_outline.png" alt="">&nbsp; -->
                            </b>
                            <b>
                                {{folder?.file_count}}&nbsp;
                                <mat-icon [ngStyle]="{'color': 'gray' }" mat-list-icon>insert_drive_file</mat-icon>
                                <!-- <img class="dirlist-icon" src="assets/document_outline.png" alt=""> -->
                            </b>
                        </div>
                        <nz-divider></nz-divider>
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
        </div>
        <div class="vl" *ngIf="shows?.folders.length > 0"></div>

        <div class="files-container" *ngIf="shows?.files.length > 0 && !loadingShows">
            <mat-expansion-panel expanded="true" togglePosition="before">
                <mat-expansion-panel-header color="primary">
                    <mat-panel-title *ngIf="shows?.files.length === 1">1 File - {{shows.file_size_total_h}}
                    </mat-panel-title>
                    <mat-panel-title *ngIf="shows?.files.length > 1">{{shows?.files.length}} Files - {{shows.file_size_total_h}}
                    </mat-panel-title>
    
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-accordion hideToggle="true">
                    <div *ngFor="let file of shows?.files">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header (click)="setName(file?.name)">
                                <mat-panel-title>
                                    <mat-list>
                                        <mat-list-item>
                                            <div mat-line
                                                [ngStyle]="{'color':file?.modify_time<today ? '' : 'rgb(121 224 128)', 'font-weight' : file?.modify_time<today ? '' : 'bolder' }"
                                            >
                                                <i nz-icon nzType="file" nzTheme="outline"></i>
                                                {{file?.name}}
                                            </div>
                                            <div class="subname" mat-line>
                                                <b>{{file?.size_h}}</b> - {{file?.modify_time_h | date:"MMM d yy, hh:mm:ss a"}}
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-button (click)="onView(file?.name)"
                                        [disabled]="file?.ext!=='mp4'&&file?.ext!=='webm'&&file?.ext!=='mkv'&&file?.ext!=='mp4'&&file?.ext!=='avi'">View</button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="detail">
                                <br>
                                <button mat-button (click)="onDownload(file?.name)">Download</button>
                                <br>
                                <table>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{file?.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Path</td>
                                        <td>{{file?.path}}</td>
                                    </tr>
                                    <tr>
                                        <td>Size</td>
                                        <td>{{file?.size_h}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{file?.modify_time_h | date:"MMM d yy, hh:mm:ss a"}}</td>
                                    </tr>
                                </table>
                                <div>
                                    <br>
                                    <p>
                                        Copy to movies
                                    </p>
                                    <nz-input-group [nzSuffix]="inputClearTpl1">
                                        <textarea style="height: 150px" nz-input id="copy_name-{{file?.name}}" type="text" [(ngModel)]="copy_name"></textarea>
                                    </nz-input-group>

                                    <ng-template #inputClearTpl1>
                                        <i nz-icon class="ant-input-clear-icon" 
                                            nzTheme="fill"
                                            nzType="close-circle"
                                            *ngIf="copy_name"
                                            (click)="copy_name = null">
                                        </i>
                                        <button nz-button nzType="primary" [nzLoading]="copying" (click)="onCopy(file?.name)">Copy</button>
                                    </ng-template>
                                    {{formatted_name?.suffix}}

                                    <p *ngIf="copy_response">{{copy_response}}</p>
                                </div>
                                <div>
                                    <br>
                                    <p>
                                        Move to movies
                                    </p>
                                    <nz-input-group [nzSuffix]="inputClearTpl2">
                                        <textarea style="height: 150px" nz-input id="copy_name-{{file?.name}}" type="text" [(ngModel)]="copy_name"></textarea>
                                    </nz-input-group>
                                    <ng-template #inputClearTpl2>
                                        <i nz-icon class="ant-input-clear-icon" 
                                            nzTheme="fill"
                                            nzType="close-circle"
                                            *ngIf="copy_name"
                                            (click)="copy_name = null">
                                        </i>
                                        <button nz-button nzType="primary" [nzLoading]="copying" (click)="onMove(file?.name)">Move</button>
                                    </ng-template>
                                    {{formatted_name?.suffix}}
                                    <p *ngIf="copy_response">{{copy_response}}</p>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                    <nz-divider></nz-divider>
                </mat-accordion>
            </mat-expansion-panel>
        </div>
    </div>
</div>

<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div> -->