.search-bar
{
    width: 30%;
}
@media screen and (max-width: 600px)
{
    .search-bar
    {
        width: 100%;
    }
}

mat-icon
{
    size: 2rem;
}
@media screen and (max-width: 600px)
{
    .input
    {
        display: flex;
        justify-content: space-around;
    }
}

/* .mat-expansion-panel
{
    background-color: rgb(40, 40, 40);
} */

.path
{
    display: flex;
    overflow: scroll;
}
@media screen and (min-width: 600px)
{
    .path::-webkit-scrollbar
    {
      display: none;
    }
}
/* .loc
{
    display: flex;
    white-space: nowrap;
}
.loc:hover
{
    cursor: pointer;
} */

.folder-link:hover
{
    cursor: pointer;
    background-color: rgb(30, 30, 30);
}
.folder-link
{
    padding: 5px;
}
@media screen and (max-width: 992px)
{
    h6
    {
        display: flex;
        white-space: nowrap;
        overflow-x: scroll;
        /* overflow-x: hidden; */
    }
    ::-webkit-scrollbar
    {
        height: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}

mat-panel-title
{
    display: inline;
}

.name
{
    font-size: 1rem;
    color: white;
}
.subname
{
    font-size: 0.7rem;
}
@media screen and (max-width: 992px)
{
    .mat-expansion-panel-header-title
    {
        white-space: nowrap;
        overflow-x: hidden;
    }
    .name
    {
        overflow-x: scroll;
    }
    ::-webkit-scrollbar
    {
        height: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}

/* .detail
{
    color: gray;
} */

.dirlist-icon
{
    height: 1rem;
}
.subname img
{
    height: 1rem;
}
