<div class="page-container">
    <div class="bar" *ngIf="images">
        <mat-form-field class="search-bar" color="accent">
            <mat-label>Simple Filter</mat-label>
            <input matInput placeholder="Ex. aven" [value]="query" (input)="onSearchChange($event.target.value)" #box>
        </mat-form-field>
        <div *ngFor="let file of images?.files;  let i = index" [ngClass]="{'highlight': file.name === currentFile}">
            <div alt="{{file?.name}}" class="bar-val" (click)="onClickImage(file, i)">
                <img class="dirlist-icon" src="assets/{{file.ext}}.png">&nbsp;{{file?.name}}
            </div>
        </div>
    </div>

    <div class="displayer-container" *ngIf="file">
        <div class="navigator-parent">
            <div class="navigator-container">
                <div class="direction">
                    <div (click)="onPage('first')">
                        <button mat-button [disabled]="index===0"><mat-icon>first_page</mat-icon></button>
                    </div>

                    <div (click)="onPage('prev')">
                        <button mat-button [disabled]="index===0"><mat-icon>navigate_before</mat-icon></button>
                    </div>
                </div>

                <div class="direction">
                    <button mat-button (click)="onDownload(images.files[index])">Download</button>
                </div>

                <div class="direction">
                    <div (click)="onPage('next')">
                        <button mat-button [disabled]="index===images.files.length-1"><mat-icon>navigate_next</mat-icon></button>
                    </div>

                    <div (click)="onPage('last')">
                        <button mat-button [disabled]="index===images.files.length-1"><mat-icon>last_page</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-container">
            <img [src]="imageSource" class="displayer">
        </div>
        <div class="text-container">
            {{file.name}}-{{file.size_h}}-{{file.ext}}
        </div>
    </div>
</div>