.inputs
{
    width: 100%;
}
.search-bar
{
    min-width: 75%;
    max-width: 100%;
}

.page-container
{
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-direction: row-reverse; */
}

@media only screen and (max-width: 992px)
{
    .page-container
    {
        display: flex;
        flex-direction: column-reverse;
    }
}

.displayer-container
{
    padding: 0;
    width: 85%;
    margin: auto;
}
@media only screen and (max-width: 992px)
{
    .displayer-container
    {
        padding: 0;
        width: 100%;
        margin: auto;
    }
}
.image-container
{
    display: flex;
    justify-content: space-around;
    margin: auto;
    word-wrap: break-word;
}
.text-container
{
    justify-content: space-around;
    display: flex;
    word-wrap: break-word;
}
.navigator-parent
{
    max-width: 25%;
    margin: auto;
}
@media only screen and (max-width: 992px)
{
    .navigator-parent
    {
        max-width: 100%;
        margin: auto;
    }
}
.navigator-container
{
    white-space: nowrap;
    display: flex;
    padding-top: 1rem;
    justify-content: space-evenly;
}

.direction
{
    display: inline-grid;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto;
}

.bar-val:hover
{
    cursor: pointer;
    background-color: rgb(60, 60, 60)
}

.highlight
{
    background-color: rgb(60, 60, 60)
}

.displayer
{
    max-height: 85vh;
    margin: auto;
}

@media only screen and (max-width: 992px)
{
    .displayer
    {
        padding: 0;
        margin: auto;
        width: 100%;
        /* height: auto; */
    }
}

.bar
{
    width: 15%;
    overflow: scroll;
    height: 94vh;
    white-space: nowrap;
    overflow-x: hidden;
}

@media only screen and (max-width: 992px)
{
    .bar
    {
        border-top: black 10px;
        padding-top: 1rem;
        width: 100%;
        overflow: scroll;
        height: 50vh;
        white-space: nowrap;
        overflow-x: hidden;
    }
}