<div class="page-container">
    <div class="displayer-container">

        <div class="pager-container">
            <div *ngIf="index>0" (click)="onClickImage(shows.files[index-1], index-1)">
                <img src="assets/prev.png" alt="">
            </div>
            <div class="next" (click)="onClickImage(shows.files[index+1], index+1)">
                <img src="assets/next.png" alt="">
            </div>
        </div>

        <div class="image-container">
            <img *ngIf="file" src="http://192.168.0.16:8000/shows/file?ui_path=data/archives/1.%20Movies/dimid/img/{{file?.name}}" class="displayer">
        </div>
        <div class="text-container">
            {{file.name}}-{{file.size_h}}-{{file.ext}}
        </div>
    </div>

    <div class="bar">
        <div *ngFor="let file of shows?.files;  let i = index" [ngClass]="{'highlight': file.name === currentFile}">
            <div alt="{{file?.name}}" class="img-opt" (click)="onClickImage(file, i)">
                <img src="assets/{{file.ext}}.png">&nbsp;{{file?.name}}</div>

        </div>
    </div>
</div>
